@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.page-ctn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100vw;
  padding:1rem;
  background: rgb(245,245,245);
}

a {
  color: white;
  font-family: "Roboto", sans-serif;
}
/* .blogs-ctn{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,300px));
    grid-template-rows: repeat(3,220px);
    align-items: center;
    justify-items: center;
    margin:10px;
} */

@media (min-width: 1000px) {
  .blogs-ctn {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    grid-template-rows: repeat(3, 220px);
    align-items: center;
    justify-items: center;
    margin: 20px;
  }
}

@media (max-width: 330px) {
  .blogs-ctn {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: minmax(auto-fill, repeat(6, 220px));
    align-items: center;
    justify-items: center;
    margin: 20px;
  }
}

.blog-post-item {
  margin: 10px;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 20px bold;
  background: rgb(43, 42, 42);
  color: white;
  border-radius: 1rem;
}

.blog-body {
  width: 70vw;
  margin: 3rem;
  white-space: pre-wrap;
  font: 1.2rem "Roboto", sans-serif;
}

.img-back {
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.browse-link-btn {
  width: 20rem;
  height: 2.8rem;
  margin-right: 5rem;
  border-radius: 0.8rem;
  border: 0.1rem solid white;
  color: white;
  background-color: transparent;
  font: bold 1.2rem "Anton", sans-serif;
  cursor: pointer;
}
.browse-link-btn:hover{
  animation-name:btn-colours;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes btn-colours{
    0%{
      border: 0.1rem solid #4716F8;
      color: #4716F8;
    }
    
    20%{
      border: 0.1rem solid rgb(228, 74, 74);
      color: rgb(228, 74, 74);
    }

    40%{
      border: 0.1rem solid rgb(160, 28, 153);
      color: rgb(160, 28, 153);
    }

    60%{
      border: 0.1rem solid rgb(201, 204, 17);
      color: rgb(201, 204, 17);
    }

    80%{
      border: 0.1rem solid rgb(23, 204, 17);
      color: rgb(23, 204, 17);
    }

    100%{
      border: 0.1rem solid rgb(77, 156, 221);
      color: rgb(77, 156, 221);
    }
}